@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 4%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 4.66666666667%; }

  .two.columns {
    width: 13.3333333333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.6666666667%; }

  .five.columns {
    width: 39.3333333333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.6666666667%; }

  .eight.columns {
    width: 65.3333333333%; }

  .nine.columns {
    width: 74.0%; }

  .ten.columns {
    width: 82.6666666667%; }

  .eleven.columns {
    width: 91.3333333333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.6666666667%; }

  .two-thirds.column {
    width: 65.3333333333%; }

  .one-half.column {
    width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%; } }
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }

  h2 {
    font-size: 4.2rem; }

  h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3.0rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com
 */
@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons/devicons.eot?xqxft6");
  src: url("../fonts/devicons/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal; }
.devicons {
  font-family: 'devicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.devicons-git:before {
  content: ""; }

.devicons-git_compare:before {
  content: ""; }

.devicons-git_branch:before {
  content: ""; }

.devicons-git_commit:before {
  content: ""; }

.devicons-git_pull_request:before {
  content: ""; }

.devicons-git_merge:before {
  content: ""; }

.devicons-bitbucket:before {
  content: ""; }

.devicons-github_alt:before {
  content: ""; }

.devicons-github_badge:before {
  content: ""; }

.devicons-github:before {
  content: ""; }

.devicons-github_full:before {
  content: ""; }

.devicons-java:before {
  content: ""; }

.devicons-ruby:before {
  content: ""; }

.devicons-scala:before {
  content: ""; }

.devicons-python:before {
  content: ""; }

.devicons-go:before {
  content: ""; }

.devicons-ruby_on_rails:before {
  content: ""; }

.devicons-django:before {
  content: ""; }

.devicons-markdown:before {
  content: ""; }

.devicons-php:before {
  content: ""; }

.devicons-mysql:before {
  content: ""; }

.devicons-streamline:before {
  content: ""; }

.devicons-database:before {
  content: ""; }

.devicons-laravel:before {
  content: ""; }

.devicons-javascript:before {
  content: ""; }

.devicons-angular:before {
  content: ""; }

.devicons-backbone:before {
  content: ""; }

.devicons-coffeescript:before {
  content: ""; }

.devicons-jquery:before {
  content: ""; }

.devicons-modernizr:before {
  content: ""; }

.devicons-jquery_ui:before {
  content: ""; }

.devicons-ember:before {
  content: ""; }

.devicons-dojo:before {
  content: ""; }

.devicons-nodejs:before {
  content: ""; }

.devicons-nodejs_small:before {
  content: ""; }

.devicons-javascript_shield:before {
  content: ""; }

.devicons-bootstrap:before {
  content: ""; }

.devicons-sass:before {
  content: ""; }

.devicons-css3_full:before {
  content: ""; }

.devicons-css3:before {
  content: ""; }

.devicons-html5:before {
  content: ""; }

.devicons-html5_multimedia:before {
  content: ""; }

.devicons-html5_device_access:before {
  content: ""; }

.devicons-html5_3d_effects:before {
  content: ""; }

.devicons-html5_connectivity:before {
  content: ""; }

.devicons-ghost_small:before {
  content: ""; }

.devicons-ghost:before {
  content: ""; }

.devicons-magento:before {
  content: ""; }

.devicons-joomla:before {
  content: ""; }

.devicons-jekyll_small:before {
  content: ""; }

.devicons-drupal:before {
  content: ""; }

.devicons-wordpress:before {
  content: ""; }

.devicons-grunt:before {
  content: ""; }

.devicons-bower:before {
  content: ""; }

.devicons-npm:before {
  content: ""; }

.devicons-yahoo_small:before {
  content: ""; }

.devicons-yahoo:before {
  content: ""; }

.devicons-bing_small:before {
  content: ""; }

.devicons-windows:before {
  content: ""; }

.devicons-linux:before {
  content: ""; }

.devicons-ubuntu:before {
  content: ""; }

.devicons-android:before {
  content: ""; }

.devicons-apple:before {
  content: ""; }

.devicons-appstore:before {
  content: ""; }

.devicons-phonegap:before {
  content: ""; }

.devicons-blackberry:before {
  content: ""; }

.devicons-stackoverflow:before {
  content: ""; }

.devicons-techcrunch:before {
  content: ""; }

.devicons-codrops:before {
  content: ""; }

.devicons-css_tricks:before {
  content: ""; }

.devicons-smashing_magazine:before {
  content: ""; }

.devicons-netmagazine:before {
  content: ""; }

.devicons-codepen:before {
  content: ""; }

.devicons-cssdeck:before {
  content: ""; }

.devicons-hackernews:before {
  content: ""; }

.devicons-dropbox:before {
  content: ""; }

.devicons-google_drive:before {
  content: ""; }

.devicons-visualstudio:before {
  content: ""; }

.devicons-unity_small:before {
  content: ""; }

.devicons-raspberry_pi:before {
  content: ""; }

.devicons-chrome:before {
  content: ""; }

.devicons-ie:before {
  content: ""; }

.devicons-firefox:before {
  content: ""; }

.devicons-opera:before {
  content: ""; }

.devicons-safari:before {
  content: ""; }

.devicons-swift:before {
  content: ""; }

.devicons-symfony:before {
  content: ""; }

.devicons-symfony_badge:before {
  content: ""; }

.devicons-less:before {
  content: ""; }

.devicons-stylus:before {
  content: ""; }

.devicons-trello:before {
  content: ""; }

.devicons-atlassian:before {
  content: ""; }

.devicons-jira:before {
  content: ""; }

.devicons-envato:before {
  content: ""; }

.devicons-snap_svg:before {
  content: ""; }

.devicons-raphael:before {
  content: ""; }

.devicons-google_analytics:before {
  content: ""; }

.devicons-compass:before {
  content: ""; }

.devicons-onedrive:before {
  content: ""; }

.devicons-gulp:before {
  content: ""; }

.devicons-atom:before {
  content: ""; }

.devicons-cisco:before {
  content: ""; }

.devicons-nancy:before {
  content: ""; }

.devicons-clojure:before {
  content: ""; }

.devicons-clojure_alt:before {
  content: ""; }

.devicons-perl:before {
  content: ""; }

.devicons-celluloid:before {
  content: ""; }

.devicons-w3c:before {
  content: ""; }

.devicons-redis:before {
  content: ""; }

.devicons-postgresql:before {
  content: ""; }

.devicons-webplatform:before {
  content: ""; }

.devicons-jenkins:before {
  content: ""; }

.devicons-requirejs:before {
  content: ""; }

.devicons-opensource:before {
  content: ""; }

.devicons-typo3:before {
  content: ""; }

.devicons-uikit:before {
  content: ""; }

.devicons-doctrine:before {
  content: ""; }

.devicons-groovy:before {
  content: ""; }

.devicons-nginx:before {
  content: ""; }

.devicons-haskell:before {
  content: ""; }

.devicons-zend:before {
  content: ""; }

.devicons-gnu:before {
  content: ""; }

.devicons-yeoman:before {
  content: ""; }

.devicons-heroku:before {
  content: ""; }

.devicons-debian:before {
  content: ""; }

.devicons-travis:before {
  content: ""; }

.devicons-dotnet:before {
  content: ""; }

.devicons-codeigniter:before {
  content: ""; }

.devicons-javascript_badge:before {
  content: ""; }

.devicons-yii:before {
  content: ""; }

.devicons-msql_server:before {
  content: ""; }

.devicons-composer:before {
  content: ""; }

.devicons-krakenjs_badge:before {
  content: ""; }

.devicons-krakenjs:before {
  content: ""; }

.devicons-mozilla:before {
  content: ""; }

.devicons-firebase:before {
  content: ""; }

.devicons-sizzlejs:before {
  content: ""; }

.devicons-creativecommons:before {
  content: ""; }

.devicons-creativecommons_badge:before {
  content: ""; }

.devicons-mitlicence:before {
  content: ""; }

.devicons-senchatouch:before {
  content: ""; }

.devicons-bugsense:before {
  content: ""; }

.devicons-extjs:before {
  content: ""; }

.devicons-mootools_badge:before {
  content: ""; }

.devicons-mootools:before {
  content: ""; }

.devicons-ruby_rough:before {
  content: ""; }

.devicons-komodo:before {
  content: ""; }

.devicons-coda:before {
  content: ""; }

.devicons-bintray:before {
  content: ""; }

.devicons-terminal:before {
  content: ""; }

.devicons-code:before {
  content: ""; }

.devicons-responsive:before {
  content: ""; }

.devicons-dart:before {
  content: ""; }

.devicons-aptana:before {
  content: ""; }

.devicons-mailchimp:before {
  content: ""; }

.devicons-netbeans:before {
  content: ""; }

.devicons-dreamweaver:before {
  content: ""; }

.devicons-brackets:before {
  content: ""; }

.devicons-eclipse:before {
  content: ""; }

.devicons-cloud9:before {
  content: ""; }

.devicons-scrum:before {
  content: ""; }

.devicons-prolog:before {
  content: ""; }

.devicons-terminal_badge:before {
  content: ""; }

.devicons-code_badge:before {
  content: ""; }

.devicons-mongodb:before {
  content: ""; }

.devicons-meteor:before {
  content: ""; }

.devicons-meteorfull:before {
  content: ""; }

.devicons-fsharp:before {
  content: ""; }

.devicons-rust:before {
  content: ""; }

.devicons-ionic:before {
  content: ""; }

.devicons-sublime:before {
  content: ""; }

.devicons-appcelerator:before {
  content: ""; }

.devicons-asterisk:before {
  content: ""; }

.devicons-aws:before {
  content: ""; }

.devicons-digital-ocean:before {
  content: ""; }

.devicons-dlang:before {
  content: ""; }

.devicons-docker:before {
  content: ""; }

.devicons-erlang:before {
  content: ""; }

.devicons-google-cloud-platform:before {
  content: ""; }

.devicons-grails:before {
  content: ""; }

.devicons-illustrator:before {
  content: ""; }

.devicons-intellij:before {
  content: ""; }

.devicons-materializecss:before {
  content: ""; }

.devicons-openshift:before {
  content: ""; }

.devicons-photoshop:before {
  content: ""; }

.devicons-rackspace:before {
  content: ""; }

.devicons-react:before {
  content: ""; }

.devicons-redhat:before {
  content: ""; }

.devicons-scriptcs:before {
  content: ""; }

.devicons-sqllite:before {
  content: ""; }

.devicons-vim:before {
  content: ""; }

* {
  box-sizing: border-box; }

body {
  font-family: "Poppins"; }

img {
  width: 100%;
  display: block; }

@media screen and (min-width: 650px) {
  #app-container {
    padding-left: 41.666%; } }

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  nav a {
    padding: 10px;
    background: #4F3C5F;
    display: block;
    margin: 6px;
    color: #fff;
    text-decoration: none; }
  @media screen and (min-width: 650px) {
    nav {
      left: initial;
      right: 0;
      text-align: left; } }

.portfolio-fixed {
  background: url("https://images8.alphacoders.com/746/746199.jpg");
  background-size: 150%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff;
  /* Mobile Styles */
  padding: 30px 0; }
  @media screen and (min-width: 650px) {
    .portfolio-fixed {
      position: fixed;
      padding: 0;
      top: 0;
      left: 0;
      height: 100vh;
      width: 41.67%; } }

.portfolio-fixed img {
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto; }

.portfolio-fixed > * {
  text-align: center;
  flex-basis: 100%; }

.portfolio-fixed h1 {
  font-weight: 500;
  margin-bottom: 8px; }

.portfolio-fixed p {
  color: #ccc;
  font-weight: 300;
  margin-top: 0; }

.profile-content {
  padding-bottom: 4rem; }

.degree {
  margin-top: 25px; }

.degree__institute {
  font-size: 18px;
  color: #666;
  margin: 5px 0; }

.degree__field {
  font-size: 16px;
  color: #aaa;
  margin: 5px 0; }

.degree__dates {
  font-size: 12px;
  margin: 5px 0; }

header {
  padding: 20px 0 15px;
  text-align: center; }
  header h2 {
    margin: 0; }

section {
  padding: 20px;
  max-width: 600px;
  font-size: 1.25em;
  color: #bbb;
  margin: 0 auto;
  font-weight: 300; }

section h4 {
  color: #A5677A; }

.skills-list {
  text-align: left; }

.skills-list__single {
  display: inline-block;
  vertical-align: center;
  padding: 10px 15px;
  background: #ededed;
  margin: 5px 5px 5px 0px;
  color: #4F3C5F; }

.contactinfo__single {
  line-height: initial;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 5px;
  text-decoration: none; }

.contactinfo__single:hover {
  background: url("../images/grey.png"); }
  .contactinfo__single:hover .contactinfo__title {
    color: #00BCD4; }

.contactinfo__title {
  color: #aaa;
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 300;
  width: 90%; }

.contactinfo__icon {
  display: inline-block;
  align-content: end;
  vertical-align: middle;
  color: #E7AAA5;
  text-align: center;
  font-size: 32px;
  width: 8%; }

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #333; }

.project {
  margin-bottom: 4rem;
  width: 100%;
  margin: 0 auto 10px auto;
  background: #eee;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.project--solo {
  border-left: 12px #A5677A solid;
  color: #A5677A; }

.project--team {
  border-left: 12px #4F3C5F solid;
  color: #4F3C5F; }

.project__title {
  font-size: 18px;
  margin-top: 0; }

.project__type {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  font-size: .675em;
  margin-right: 10px;
  padding: 0 7px;
  width: 60px;
  text-align: center;
  color: #aaa; }

.projects__icon {
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 5px; }

.project-types-list {
  text-align: right;
  margin-bottom: 10px;
  font-size: 0; }

.project-type {
  font-size: medium;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  border-bottom: #aaa 4px solid;
  color: #aaa; }

.project-type--selected {
  background: #f0f0f0; }

.project-type--solo {
  border-bottom: #A5677A 4px solid;
  color: #A5677A; }

.project-type--team {
  border-bottom: #4F3C5F 4px solid;
  color: #4F3C5F; }

.techlist {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.techlist--hidden {
  display: none; }

.techlist__icon {
  width: 24%;
  margin: .5%;
  font-size: 80px;
  border: 1px solid #ddd;
  text-align: center; }

.job-timeline {
  padding-left: 25px; }

.job {
  color: #666;
  border-left: 2px solid #333;
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px; }

.job__years {
  background: #666;
  color: #fff;
  border-radius: 50%;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%); }

.job__start {
  width: 100%;
  font-size: 12px;
  margin: 0; }

.job__end {
  width: 100%;
  font-size: 12px;
  margin: 0; }

.job__title {
  margin: 3px 0;
  font-size: 21px; }

.job__company {
  font-size: 18px;
  color: #aaa; }

.job__description {
  font-size: 14px; }

.job__responsibilities {
  margin-bottom: 0; }

.job__responsibilities li {
  margin-bottom: 3px;
  font-size: 14px; }

/*# sourceMappingURL=styles.css.map */
